name = "zyncrate"
compatibility_date = "2024-11-05"

# Pages project config
[site]
bucket = "public"        # this replaces pages_build_output_dir

[build]
command = ""             # no build step
watch_dir = "functions"  # ensure functions trigger build
upload = { format = "modules" }

[[r2_buckets]]
binding = "R2"
bucket_name = "zyncrate"

[[d1_databases]]
binding = "DB"
database_name = "zyncrate-db"
database_id = "f45cd239-1fd5-460e-b95e-3a5df42359b8"

[vars]
BASE_URL = "https://zyncrate.pages.dev"
