name = "zyncrate"
compatibility_date = "2024-11-05"

# REQUIRED for Pages in Wrangler 4.48+
pages_build_output_dir = "public"
pages_build_output_dir_clean = false

# Optional but recommended
pages_functions_build_dir = "functions"

[[r2_buckets]]
binding = "R2"
bucket_name = "zyncrate"

[[d1_databases]]
binding = "DB"
database_name = "zyncrate-db"
database_id = "f45cd239-1fd5-460e-b95e-3a5df42359b8"

[vars]
BASE_URL = "https://zyncrate.pages.dev"
