name = "zyncrate"
compatibility_date = "2024-11-05"

# Tell Pages where to find assets and functions
pages_build_output_dir = "public"
pages_functions_build_dir = "functions"

[[r2_buckets]]
binding = "R2"
bucket_name = "zyncrate"

[[d1_databases]]
binding = "DB"
database_name = "zyncrate-db"
database_id = "f45cd239-1fd5-460e-b95e-3a5df42359b8"
