name = "zyncrate"
compatibility_date = "2024-11-05"

# Required by Wrangler v4 for Pages
pages_build_output_dir = "./public"

[[r2_buckets]]
binding = "R2"
bucket_name = "zyncrate"

[[d1_databases]]
binding = "DB"
database_name = "zyncrate-db"
database_id = "f45cd239-1fd5-460e-b95e-3a5df42359b8"

[vars]
BASE_URL = "https://zyncrate.pages.dev"
